h1 {
  font-family: 'Lora', serif;
  text-align: start;
}

.library-image {
  min-width: 500px;
  height: auto;
}

.about--title {
  font-size: 3.2em !important;
}

.aboutus {
  font-size: 2.8em !important;
}
