/* Lines */
.frame .lines {
  position: relative;
  width: 550px;
  height: 6px;
}
.frame .overlap-group {
  position: relative;
  height: 6px;
}
.frame .rectangle {
  width: 550px;
  height: 2px;
  top: 4px;
  background-color: #344152;
  position: absolute;
  left: 0;
}
.frame .rectangle-2 {
  width: 275px;
  height: 6px;
  top: 0;
  background-color: #344152;
  position: absolute;
  left: 0;
}
/* Lines */

.img-thumbnail {
  border: none !important;
}
