.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(193, 147, 197);
  background: linear-gradient(90deg, rgba(193, 147, 197, 1) 0%, rgba(123, 198, 204, 1) 100%);
}

.background-wallpaper {
  background-image: url('/public/images/404error.svg');
}

.error-content {
  text-align: center;
}

.error-title {
  font-size: 4rem;
  font-weight: bold;
  color: #dc3545;
}

.error-message {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.error-link {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.error-link:hover {
  text-decoration: underline;
}
