.background {
  background-image: url('/public/images/BGImage2.jpg');
  z-index: 1;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* width: 100vw; */
}

* {
  scroll-behavior: smooth;
}

.card-parent {
  height: 42em;
}

@media (max-width: 1000px) {
  /* Adjust styles for smaller screens */
   {
    flex-direction: column; /* Stack items vertically */
  }
}
