.background-wallpaper-RF {
  /* background-color: #57769b; */
  background: rgb(130, 160, 217);
  background: linear-gradient(
    90deg,
    rgba(130, 160, 217, 1) 0%,
    rgba(130, 134, 199, 1) 50%,
    rgba(186, 148, 179, 1) 100%
  );
  z-index: 1;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
}

.form-control {
  z-index: 2;
  height: 40px;
  box-shadow: none;
  color: #3c080b;
}
.form-control:focus {
  border-color: #b85c8f;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0px;
  font-size: 16px;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
  content: '';
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 15px;
}
.signup-form input[type='checkbox'] {
  margin-top: 3px;
}
.signup-form .btn-registry {
  font-size: 16px;
  font-weight: bold;
  max-width: 400px;
  outline: none !important;
}
.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #062d59;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #5cb85c;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

/* RegistrationForm.css */

/* <------------------------------responsive  -----------------------------> */

/* Mobile breakpoint (e.g., 480px) */
@media (max-width: 480px) {
  .form-control {
    font-size: 0.7rem;
    width: 270px !important;
  }
  .signup-form {
    width: 300px !important;
  }

  .btn-block {
    font-size: 14px;
    font-weight: bold;
    width: 100px !important;
    outline: none !important;
  }
}
