@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
  font-family: 'Noto Sans', sans-serif !important;
  // font-family: 'Lora',serif !important;
}

$primary: #24263a;
$secondary: #6c93a8;
$light: #e1e1e1;
$dark: #1d1e2c;
$danger: #e03a45;
$white: #fafafa;
$info: #9ac1f0;
$gray: #eaf2fc;
$gray-100: #d6e6f9;
$gray-200: #c2d9f6;
$gray-500: #aecdf3;

@import '~bootstrap/scss/bootstrap.scss';
