.card-background {
  background: var(--bs-secondary);
  /* background: linear-gradient(to right, #1565c0, #b92b27); */
  border-radius: 18px;
}

.card-body {
  /* width: 20rem;
  height: 20rem; */
  width: 300px;
  height: 300px;
}

.enrollment-card {
  opacity: 0.7;
}
.enrollment-card:hover {
  transform: scale(1.1);
  opacity: 1;
  /* width: 200px; */
  /* height: 450px; */
  transition: 0.4s ease-in-out;
  z-index: 3;
  /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1); */
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
}

.card-wallpaper {
  /* width: 20rem;
  height: 20rem; */
  width: 300px;
  border-radius: 1rem 1rem 0 0;
}

.btn-custom {
  border: 1px solid rgba(75, 102, 117, 1) !important;
}

.btn-custom:hover {
  border: none;
  background-color: rgba(75, 102, 117, 1) !important;
  color: white !important;
}
