.card-background {
  background: #b92b27;
  /* background: -webkit-linear-gradient(to right, #1565c0, #b92b27); */
  background: linear-gradient(to right, #1565c0, #b92b27);
  /* background: linear-gradient(to right, #42275a, #004e92); */
  /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
  /* background: linear-gradient(to right, #141e30, #243b55); */
  /* background: linear-gradient(to right, #b92b27, #1565c0); */

  border-radius: 24px;
}

.card-body {
  width: 330px;
  height: 400px;
}
