.card-background {
  background: var(--bs-gray-300);
  /* background: gray; */
  /* background: var(--bs-gray-white); */
  /* background: linear-gradient(to right, #1565c0, #b92b27); */
}

.card-body {
  /* width: 20rem;
  height: 20rem; */
  /* width: 300px; */
  height: 400px;
}

.enrollment-card {
  opacity: 0.6;
}

.enrollment-card:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.5s ease-in-out;
  z-index: 3;
  border: 1px solid rgba(75, 102, 117, 1) !important;
  box-shadow: 0px 2px 12px -8px rgba(0, 0, 0, 0.1);
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
}

.card-wallpaper {
  /* width: 20rem;
  height: 20rem; */
  width: 320px;
  border-radius: 1rem 1rem 0 0;
}

.btn-custom {
  border: 1px solid rgba(75, 102, 117, 1) !important;
}

.btn-custom:hover {
  border: none;
  background-color: rgba(75, 102, 117, 1) !important;
  color: white !important;
}
